{% extends 'base.html.twig' %}

{% block title %}Add Keyword
{% endblock %}

{% block body %}
	<h1>Ajouter un mot-clé</h1>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				{{ form_start(keywordForm, { attr: { class: 'row g-3' } }) }}
				{{ form_widget(keywordForm.name, { attr: { class: 'form-control' } }) }}
				{{ form_errors(keywordForm.name) }}
				<button class="btn">Ajouter</button>
				{{ form_end(keywordForm) }}
			</div>
		</div>
	</div>
{% endblock %}
