  .jumbotron label {
    font-size:12px;    
}

.text-center.reg-icon{
    color:#5bc0de;
    font-weight:bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #5bc0de;
}

.prj-name{
    font-weight:bold;
    color:#5bc0de;
}
.btn.btn-info{
    background-color: #5bc0de;
    color: #fff!important;
}
.jumbotron.text-center.py-5 {
    background-color: #eee;
    min-height: 400px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}
    